<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Passport Example with Google OAuth 2.0</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	</head>
	<body>
		<nav class="navbar" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
		    <!-- navbar items, navbar burger... -->
		  </div>
		  <div class="navbar-menu">
		    <!-- navbar start, navbar end -->
				<a href="/" class="navbar-item"><span class="icon is-small"><i class="fas fa-home"></i></span><span>&nbsp;Home</span></a>
				{{#if user}}
					<a href="/account" class="navbar-item"><i class="fas fa-user"></i></span><span>&nbsp;Account</span></a>
					<a href="/logout" class="navbar-item"><span class="icon is-small"><i class="fas fa-sign-out-alt"></i></span><span>&nbsp;Log Out</span></a>
				{{else}}
					<a href="/login" class="navbar-item"><span class="icon is-small"><i class="fas fa-sign-in-alt"></i></span><span>&nbsp;Log In</span></a>
				{{/if}}
		  </div>
		</nav>

		<section class="section">
	    <div class="container">
				{{{ body }}}
			</div>
		</section>

		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

	</body>
</html>
