<nav class="panel">
  <p class="panel-heading">
    Login with
  </p>
  <a class="panel-block" href="/auth/google">
    <span class="panel-icon">
      <i class="fab fa-google"></i>
    </span>
    Google
  </a>
</nav>
